@import '../scss/globals.scss';

.get-db {
  height: 2.5rem;
  padding: 0.75rem 0.75rem 0;
  border-radius: 8px;
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  width: calc(100% - 2rem);
  text-align: center;
  cursor: pointer;
  .progressbar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: linear-gradient(to right, $cc2, $cc5);
    z-index: -1;
  }
}
