.get-db {
  height: 2.5rem;
  padding: 0.75rem 0.75rem 0;
  border-radius: 8px;
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  width: calc(100% - 2rem);
  text-align: center;
  cursor: pointer;
}
