// Colors
$c0: #1d1c1f;
$c1: #333035;

$cc0: #205;
$cc1: #373748;
$cc2: #7f2aff;
$cc3: #7137c8;
$cc4: #0cf;
$cc5: #d40055;

.dsh {
  filter: drop-shadow(0px 8px 8px #00000050);
}

.mica {
  border-radius: 8px;
  backdrop-filter: blur(120px);
  background-color: #1110114b;
  overflow-y: auto;
}

a {
  all: unset;
  color: $cc5;
}
